body{
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #e4eff8;
}


.noteContainer{
  display: flex;
  justify-content: center;
}

.mainContainer{
  margin: 0 auto;
  width: 50%;
  padding: 40px;
  background: rgb(250,243,221);
  background: linear-gradient(180deg, rgba(250,243,221,1) 35%, rgba(0,212,255,1) 100%);

  border-radius: 20px;
  box-shadow: 25px 24px 45px 0px rgba(0,0,0,0.75);
}

.mainContainer h1{
  font-size: 60px;
}
